{{define "main"}}
{{- partial "header.html" . -}}
<div class="article">
  {{with .Content}}{{.}}{{end}}
</div>
<div class="toc">
  <ul>
    {{range .Pages}}
      <li><b>
          <a href="{{.RelPermalink}}">
          {{ if in .File.BaseFileName "index" }}
            {{.Title}}
          {{else}}
            {{ if in .CurrentSection "/u/now/" }}
            {{dateFormat "1/2/06" .Date}} ... {{.File.BaseFileName}}
            {{else}}
            {{dateFormat "1/2/06" .Date}} {{.Title}} ... {{.File.BaseFileName}}
            {{end}}
          {{end}}
        </a>
      </b></li>
    {{end}}
  </ul>
</div>
{{end}}


