{{define "main"}}
{{- partial "header.html" . -}}
<div class="article">
  {{with .Page.Content}}{{.}}{{end}}
</div>
<div class="toc">
  <ul>
    {{if lt (len .File.Dir) 3}}
      <!-- Alphabetical -->
      {{range .Pages}}
        <li><b><a href="{{.RelPermalink}}">{{.Title}}</a></b></li>
      {{end}}
    {{else}}
      <!-- Reverse Numeric -->
      {{range (sort .Pages "File.Path").Reverse}}
        <li class="dotted"><b><a href="{{.RelPermalink}}">
          {{if in .CurrentSection "/u/now/"}}
            {{dateFormat "1/2/06" .Date}}</a>
            <span class="flex"></span>
            {{.File.BaseFileName}}
          {{else}}
            {{dateFormat "1/2/06" .Date}} 
            <span class="tab"></span> {{.Title}}</a>
            <span class="flex"></span>
            {{.File.BaseFileName}}
          {{end}}
        </a></b></li>
      {{end}}
    {{end}}
  </ul>
</div>
{{end}}


