{{$date := "no date?"   }}
{{$df   := "Jan 2, 2006"}}
{{$pgs  :=  slice       }}
{{$fd   := .File.Dir    }}

{{range .Site.Pages}}
  {{if in .File.Path $fd}}
    {{$pgs = $pgs | append .}}
  {{end}}
{{end}}
{{$pgs = sort $pgs "Date" "desc" }}

{{if and (eq .Kind "section") (gt (len .Pages) 0)}}
  {{$date = dateFormat $df (index $pgs 0).Date}}
{{else}}
  {{$date = dateFormat $df .Date}}
{{end}}
<!--{{ (index .Pages 0).Content }} -->
<div class="header">
  {{$hl := path.Join "/" .Page.Type}}
{{if eq .Type "u"}}
{{if eq .File.Dir "u/"}}
  {{$hl = "/"}} 
  {{end}}
    <h2 class="u me">
      <a href="{{$hl}}" class="n">Evan DiBona</a>
    </h2>
    <h2 class="u date">
      {{$date}}
    </h2>
{{else}}
    <h2 class="v me">
      <a href="{{$hl}}" class="n">Evan Charles DiBona</a>
    </h2>
    <h2 class="v date">
      {{$date}}
    </h2>
{{end}}
</div>

{{if .Page.Params.draft}}
  <hr>
  <p class="center c"> D R A F T </p>
  <hr>
{{end}}

{{if in .Permalink "/now/"}}
{{else}}
  <div class="title">
    <h1> {{.Title}} </h1>
    {{if eq .Kind "page"}}
      {{if in .File.Path "/lglr/"}}
        <img class="pure-img underline" src="/img/div1.png">
      {{else if in .File.Path "/lbry/"}}
        <img class="pure-img underline" src="/img/div2.png">
      {{end}}
    {{end}}
  </div>
{{end}}
