{{if eq .Type "u"}}
  <div class="header hdr-l">
    <h1 class="u">
      <a href="/u" class="n">Evan DiBona</a>
    </h1>
{{else}}
  <div class="header hdr-r">
    <h1 class="v">
      <a href="/v" class="n">Evan Charles DiBona</a>
    </h1>
{{end}}

{{if eq .Kind "page"}}
  {{if in .File.Dir "u/now/"}}
    <h2 class="v">Now</h2>
  {{else}}
    {{with .Title}}<h2 class="v">{{.}}</h2>{{end}}
  {{end}}
{{end}}
{{if eq .Kind "section"}}
  {{with .Title}}<h2>{{.}}</h2>{{end}}
{{end}}

  </div>

<div class="sep">
</div>
